<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="profitplus" frontName="profitplus">
            <module name="Appcoders_Profitplus" />
        </route>
    </router>
</config>